// clearfix

.clearfix:after{
  content:"";
  display:block;
  clear:both;
}


// text align
.align{
  &-center{
    text-align:center;
  }

  &-left{
    text-align:left;
  }

  &-right{
    text-align:right;
  }
}

// float
.float{
  &-left{
    float:left;
  }

  &-right{
    float:right;
  }
}

// display value
.dp-val{
  &-block{

  }

  &-inblock{
    display:inline-block;
  }

  &-inline{
    display:inline;
  }
}


// margin
.ml10{
  margin-left:10px;
}
.mb20{
  margin-bottom:20px;
}




// font
.mix-font {
  font-family:neosans, SKPGo, sans-serif;
}

.font{

  &-black{
    color:#000;
  }

  &-red{
    color:#e51837;
  }

  &-gray9{
    color:#999;
  }

}