.align{
  &-center{
    text-align:center;
  }

  &-left{
    text-align:left;
  }

  &-right{
    text-align:right;
  }
}

.float{
  &-left{
    float:left;
  }

  &-right{
    float:right;
  }
}

.clearfix:after{
  clear:both;
  display:block;
  content:"";
}

.only-eng{
  font-family:neosans san-serif;
}