.align{
  &-center{
    text-align:center;
  }

  &-left{
    text-align:left;
  }

  &-right{
    text-align:right;
  }
}

.float{
  &-left{
    float:left;
  }

  &-right{
    float:right;
  }
}

<<<<<<< HEAD
.clearfix:after{
  clear:both;
  display:block;
  content:"";
}

.only-eng{
  font-family:neosans san-serif;
=======









.dp-val{
  &-block{

  }

  &-inblock{
    display:inline-block;
  }

  &-inline{
    display:inline;
  }
}

.ml10{
  margin-left:10px;
}

.clearfix:after{
  content:"";
  display:block;
  clear:both;
}




.font{

  &-black{
    color:#000;
  }

  &-red{
    color:#e51837;
  }

  &-gray9{
    color:#999;
  }

>>>>>>> d5f3931b182f4db100f1270bb7323148b8721351
}