// heading type
.heading{

  &-wrap{
    &-01{
      margin-bottom:38px;
    }
  }

  &-01{
    font-size:48px;
    color:#333;
    font-family:neosans, SKPGo, sans-serif;
  }

  &-desc{
    &-01{
      font-size:16px;
      color:#333;
      margin-top:4px;
      line-height:1.5;

			em{
				font-weight:bold;
			}
			&-font-color-red{
				color:#e51937;
			}
    }
  }

  &-bg-wrap{
    margin:50px 0 80px;
  }
}

// paragraph type
.text-content{
  margin-bottom:100px;

  &:after{
    clear:both;
    display:block;
    content:"";
  }

  &-heading{
    float:left;
    //margin-top:6px;
    font-size:36px;
		line-height:1.2;

    span{
      display:block;
    }

    &-image{
      margin-top:30px;
      display:block;
    }

  }

  &-desc{
    &-wrap{
      padding-top:16px;
      border-top:1px solid #666;
      float:right;
      width:842px;
			strong{
				display:block;
				color:#333;
				font-size:18px;
				font-weight:bold;
			}
    }
    &-list{
      margin-bottom:30px;
    }
    &-title{
      margin-bottom:23px;
      font-size:20px;
      //line-height:20px;
      color:#f48024;
    }

    &-paragraph{
      font-size:14px;
      line-height:1.8;
      color:#666;

      em{
        color:#000;
      }
    }
  }

  &-02{
    margin-bottom:100px;

    &-heading{
      padding-bottom:3px;
      font-size:36px;
      font-weight:600;
    }

    &-desc{
      &-wrap{
        padding-top:16px;
        border-top:1px solid #666;
      }
      &-list{
        margin-bottom:30px;
      }
      &-title{
        margin-bottom:23px;
        font-size:20px;
        //line-height:20px;
        color:#f48024;

        &.list-type{
          color:#333;
          font-size:18px;
        }
      }

      &-diagram{
        margin:36px 0;
      }
      &-paragraph{
        font-size:14px;
        line-height:1.8;
        color:#666;

        em{
          color:#000;
        }
      }
    }

  }

	&-object{
		float:left;
		dt{
			margin-bottom:15px;
			font-size:18px;
			font-weight:bold;
			color:#333;
		}
		dd{
			float:left;
			margin-right:31px;
			font-size:16px;
			color:#f48024;
		}
		dd:before{
			margin-right:17px;
			vertical-align:middle;
			display:inline-block;
			content:'';
			width:61px;
			height:61px;
		}
	}

	&-student-jobseeker:before{
		background:url("/images/student-jobseeker.png") no-repeat;
	}
	&-business-partner:before{
		background:url("/images/business-partner.png") no-repeat;
	}
	&-ordinary-person:before{
		background:url("/images/ordinary-person.png") no-repeat;
	}
	&-high-school:before{
		background:url("/images/high-school.png") no-repeat;
	}
	&-elementary-school{
		background:url("/images/elementary-school.png") no-repeat;
	}
}

.paragraph{

  &-strong{
    font-size:20px;
    color:#000;
    line-height:1.8;

    br{
      display:none;
    }
  }

  &-common{
    margin-top:24px;

    font-weight:300;
    color:#666;
    line-height:1.625;

    strong{
      font-size:16px;
      font-weight:400;
      color:#333;
    }
  }
}

// link button
.content-link{
  display:inline-block;
  width: 220px;
  margin-top: 30px;
  font-size: 16px;
  color: #979797;
  padding: 15px;
  height: 48px;
  border-radius: 5px;
  border: 1px solid #979797;
  text-align:left;
  position:relative;

  &:after{
    display:inline-block;
    content:"";
    width:15px;
    height:13px;
    background:url('/images/ci-manual-download.png') no-repeat;
    position:absolute;
    top:50%;
    margin-top:-7px;
    right:15px;
  }

  &.type-red{
    border:0;
    background:#e51837;
    color:#fff;
  }

  &.more:after{
    display:inline-block;
    content:"";
    width:10px;
    height:7px;
    margin-left:50px;
    background:url('/images/bg_btn_link.png') no-repeat;
    position:absolute;
    top:50%;
    margin-top:-4px;
    right:15px;
  }
}

.arrow{
	margin-top:45px;
	&:after{
    display:inline-block;
    content:'';
    width:10px;
    height:7px;
		margin:-2px 0 2px 24px;
    background:url('/images/right-arrow.png') no-repeat;
  }
}

// sub visual area
.sub{

  &-visual{
    margin-bottom:27px;
    position:relative;

    &-inner{

    }

    &-image{
      display:block;
    }

    &-slogan{

      &-wrap{
        width:470px;
        height:380px;
        padding:90px 0 90px 52px;
        background:#f58026;
        position: absolute;
        top: -30px;
        right: 40px;
      }

      &-narrow{
        font-size:28px;
        font-weight:300;
        color:#fff;
        line-height:1.4;
      }

      &-bold{
        margin-top:42px;
        font-size:28px;
        font-weight:600;
        color:#fff;
        line-height:1.4;
      }

    }

    &-tab{
      max-width:1200px;
      height:450px;


      &-item{
        width:25px;
      }

      &-link{

      }

    }

  }

	&-history{
		&-wrap{
			margin-top:100px;
			padding:80px 0 100px;
			background-color:#f8f8f8;
		}

		&-list{
			color:#333;
			float:right;
			border-top:1px solid #666;
			border-bottom:1px solid #666;
			width:842px;
			&-item{
				padding:35px 19px 32px;
				border-top:1px solid #ccc;
			}
			&-item:first-child{
				border-top:none;
			}
			&-item:after{
				display:block;
				content:'';
				clear:both;
			}
			&-year{
				float:left;
				font-weight:bold;
				font-size:18px;
			}
			&-depth{
				float:left;
				margin-left:40px;

				&-item{
					margin-top:14px;
				}
				&-item:first-child{
					margin-top:0;
				}
			}
			&-month{
				font-weight:bold;
				font-size:16px;
				//line-height:16px;
				display:inline-block;
				width:35px;
				text-align:right;
				margin-right:20px;
			}
			&-text{
				font-size:14px;
				color:#666;
			}
		}
	}

}

.benefits-package{
	&-list{
		float:left;
		margin-right:19px;
		margin-bottom:19px;
		text-align:center;
		padding:35px 0;
		width:266px;
		height:266px;
		border:1px solid #ccc;
	}
	
	&-definition-list{
		&-term{
			font-size:16px;
			color:#333;
			p{
				margin:22px 0 14px;
			}
		}
	}
}

.site-map-content{
	&-wrap{

		&:after{
			display:block;
			content:'';
			clear:both;
		}
	}
	&-list{
		float:left;
		border-left:1px solid #ccc;
		padding-left:30px;
		width:240px;
		height:232px;
		font-size:16px;
		>a{
			font-weight:bold;
			color:#e51837;
		}
		&:first-child{
			border-left:none;
		}
	}
	&-2depth{
		margin-top:52px;
		&-list{
			line-height:40px;

			:hover{
				color:#e51837;
			}
		}
	}
}

.location-terms-of-use{
	&-wrap{
		font-size:16px;
		line-height:1.5;
		color:#000;
	}
	&-title{
		font-weight:bold;
	}
	&-content{
		margin:27px 0;
	}
	&-ordered{
		&-2depth{
			margin-bottom:32px;
		}
	}
	&-service-type{
		margin-top:12px;
		font-size:20px;
		font-weight:bold;
	}
}

.pangyo-office {
  &-wrap {
    font-size: 14px;
    color: #666;
  }
  &-info-list {
    &-2depth {
      float: left;
    }
    span {
      float: left;
    }
  }
}

@media screen and (max-width:1280px){

  .sub{
    &-visual{

      &-image{
        width:100%;
      }

      &-slogan{
        &-wrap{

        }
      }
    }
  }

}

@media screen and (max-width:1024px){

  .heading{

    &-wrap{
      &-01{

      }
    }
    &-01{

    }
    &-desc{

      &-01{
        font-size:12px;
      }
    }
  }

  .sub{
    &-visual{

      &-image{
        width:100%;
      }

      &-slogan{
        &-wrap{
          width:400px;
          height:300px;
          padding:50px 0 50px 30px;
          right:10px;
        }

        &-narrow{
          font-size:24px;
        }

        &-bold{
          font-size:24px;
        }
      }
    }
  }

  .paragraph{
    &-strong{
      br{
        display:block;
      }
    }
  }

}

@media screen and (max-width:768px){

  .heading{

    &-wrap{
      &-01{
        margin-bottom:24px;
      }
    }
    &-01{
      font-size:24px;
    }
    &-desc{

      &-01{
        font-size:12px;
      }
    }
  }

  .sub{
    &-visual{
      &-inner{

      }

      &-image{

      }

      &-slogan{
        &-wrap{
          width:320px;
          height:250px;
          padding:50px 0 50px 30px;
          right:10px;
        }

        &-narrow{
          font-size:20px;
        }

        &-bold{
          font-size:20px;
        }
      }
    }
  }

  .text-content{
    margin-bottom:100px;

    &:after{
      clear:both;
      display:block;
      content:"";
    }

    &-heading{
      float:left;
      //margin-top:6px;
      font-size:36px;
      line-height:1.2;

      span{
        display:block;
      }

      &-image{
        margin-top:30px;
        display:block;
      }

    }

    &-desc{
      &-wrap{
        padding-top:16px;
        border-top:1px solid #666;
        float:right;
        width:842px;
        strong{
          display:block;
          color:#333;
          font-size:18px;
          font-weight:bold;
        }
      }
      &-list{
        margin-bottom:30px;
      }
      &-title{
        margin-bottom:23px;
        font-size:20px;
        //line-height:20px;
        color:#f48024;
      }

      &-paragraph{
        font-size:14px;
        line-height:1.8;
        color:#666;

        em{
          color:#000;
        }
      }
    }

    &-02{

      &-heading{
        padding-bottom:3px;
        font-size:36px;
        font-weight:600;
      }

      &-desc{
        &-wrap{
          padding-top:16px;
          border-top:1px solid #666;
        }
        &-list{
          margin-bottom:30px;
        }
        &-title{
          margin-bottom:23px;
          font-size:12px; //m
          color:#f48024;

          &.list-type{
            color:#333;
            font-size:18px;
          }
        }

        &-diagram{
          margin:36px 0;
        }
        &-paragraph{
          font-size:10px; //m
          line-height:1.8;
          color:#666;

          em{
            color:#000;
          }
        }
      }

    }

    &-object{
      float:left;
      dt{
        margin-bottom:15px;
        font-size:18px;
        font-weight:bold;
        color:#333;
      }
      dd{
        float:left;
        margin-right:31px;
        font-size:16px;
        color:#f48024;
      }
      dd:before{
        margin-right:17px;
        vertical-align:middle;
        display:inline-block;
        content:'';
        width:61px;
        height:61px;
      }
    }

    &-student-jobseeker:before{
      background:url("/images/student-jobseeker.png") no-repeat;
    }
    &-business-partner:before{
      background:url("/images/business-partner.png") no-repeat;
    }
    &-ordinary-person:before{
      background:url("/images/ordinary-person.png") no-repeat;
    }
    &-high-school:before{
      background:url("/images/high-school.png") no-repeat;
    }
    &-elementary-school{
      background:url("/images/elementary-school.png") no-repeat;
    }
  }

  .paragraph{
    &-strong{
      font-size:12px;
    }

    &-common{
      margin-top:24px;
      font-size:12px;
      font-weight:300;

      strong{
        font-size:12px;
      }
    }
  }

  .content-link{
    display:inline-block;
    width: 200px; //m
    margin-top: 30px;
    font-size: 11px; //m
    color: #979797;
    padding: 12px 15px; //m
    height: 35px; //m
    border-radius: 5px;
    border: 1px solid #979797;
    text-align:left;
    position:relative;

    &:after{
      display:inline-block;
      content:"";
      width:15px;
      height:13px;
      background:url('/images/ci-manual-download.png') no-repeat;
      position:absolute;
      top:50%;
      margin-top:-7px;
      right:15px;
    }

    &.type-red{
      border:0;
      background:#e51837;
      color:#fff;
    }

    &.more:after{
      display:inline-block;
      content:"";
      width:10px;
      height:7px;
      margin-left:50px;
      background:url('/images/bg_btn_link.png') no-repeat;
      position:absolute;
      top:50%;
      margin-top:-4px;
      right:15px;
    }
  }
}

@media screen and (max-width:640px){

  .sub{
    &-visual{

      &-inner{
        overflow:hidden;
      }
      &-image{
        width:auto;
        height:170px;
        position:relative;
        left:50%;
        transform:translateX(-50%);
      }
      &-slogan{
        &-wrap{
          width: 175px;
          height: 130px;
          padding: 25px 0 25px 10px;
          top:-10px;
          right: 10px;
        }
        &-narrow{
          font-size:12px;
        }

        &-bold{
          margin-top:20px;
          font-size:12px;
        }
      }
    }
  }

  .paragraph{
    &-strong{
      font-size:10px;
    }
  }

}