@font-face{
  font-family:neosans;
  font-style:normal;
  font-weight:300;
  src:url(/fonts/neosansL.eot);
  src:local("☺"),url(/fonts/neosansL.eot?#iefix) format("embedded-opentype")
  ,url(/fonts/neosansL.woff) format("woff")
  ,url(/fonts/neosansL.ttf) format("truetype")
}
@font-face{
  font-family:neosans;
  font-style:normal;
  font-weight:400;
  src:url(/fonts/neosansR.eot);
  src:local("☺")
  ,url(/fonts/neosansR.eot?#iefix) format("embedded-opentype")
  ,url(/fonts/neosansR.woff) format("woff")
  ,url(/fonts/neosansR.ttf) format("truetype")
}
@font-face{
  font-family:neosans;
  font-style:normal;
  font-weight:600;
  src:url(/fonts/neosansM.eot);
  src:local("☺")
  ,url(/fonts/neosansM.eot?#iefix) format("embedded-opentype")
  ,url(/fonts/neosansM.woff) format("woff")
  ,url(/fonts/neosansM.ttf) format("truetype")
}
@font-face{
  font-family:SKPGo;
  font-style:normal;
  font-weight:300;
  src:url(/fonts/SKPGoL.eot);
  src:local("☺"),
  url(/fonts/SKPGoL.eot?#iefix) format("embedded-opentype")
  ,url(/fonts/SKPGoL.woff) format("woff")
  ,url(/fonts/SKPGoL.ttf) format("truetype")
}
@font-face{
  font-family:SKPGo;
  font-style:normal;
  font-weight:400;
  src:url(/fonts/SKPGoM.eot);
  src:local("☺")
  ,url(/fonts/SKPGoM.eot?#iefix) format("embedded-opentype")
  ,url(/fonts/SKPGoM.woff) format("woff")
  ,url(/fonts/SKPGoM.ttf) format("truetype")
}
@font-face{
  font-family:SKPGo;
  font-style:normal;
  font-weight:600;
  src:url(/fonts/SKPGoB.eot);
  src:local("☺")
  ,url(/fonts/SKPGoB.eot?#iefix) format("embedded-opentype")
  ,url(/fonts/SKPGoB.woff) format("woff")
  ,url(/fonts/SKPGoB.ttf) format("truetype")
}