.header{
  width:100%;
  height:61px;
  //border-bottom:1px solid #ccc;
  background:#fff;
  position:absolute;
  z-index:20;
  overflow:hidden;

  &:after{
    content:"";
    display:block;
    clear:both;
  }

  //&:hover{
  //  height:281px;
  //}

  &-logo{
    position:absolute;
    top:10px;
    left:40px;

    &-link{
      display:block;
    }
    &-image{
      display:block;
      width:85px;
    }
  }

  &-util{
    position:absolute;
    top:0;
    right:0;

    &-item{
      width:90px;
      height:60px;
      border-left:1px solid #ccc;

      float:left;

      text-align:center;
      line-height:64px;

      &:first-child{
        border-left:0;
      }
    }

    &-link{
      font-size:13px;

      &.underline{
        color:#999;
        padding:0 3px 3px;
        margin:0 5px;

        &.on, &:hover{
          color:#333;
          border-bottom:1px solid #333;
        }
      }
    }
  }
}

.gnb{
  width:901px;
  padding-top:24px;
  margin:0 auto;

  &:before{
    content:"";
    display:block;
    width:100%;
    height:1px;
    background:#ccc;
    position:absolute;
    top:60px;
    left:0;
  }

  &-depth1{
    &:after{
      content:"";
      display:block;
      clear:both;
    }

    &-item{
      width:225px;

      float:left;

      text-align:center;
    }

    &-link{
      display:inline-block;
      padding-bottom:17px;

      position:relative;

      font-size:16px;
      font-weight:600;

      &:after{
        content:"";
        display:block;
        width:100%;
        height:3px;
        background-color:transparent;
        position:absolute;
        left:0;
        bottom:0;
      }

      &:hover, &.on{
        color:#e51837;

        &:after{
          background-color:#e51837;
        }
      }
    }
  }

  &-depth2{
    width:225px;
    height:220px;
    padding-top:31px;
    border-left:1px solid #ccc;

    &-item{
      margin-bottom:20px;
      text-align:center;
    }

    &-link{
      font-size:16px;

      &:hover, &.on{
        color:#e51837;
      }
    }
  }
}

@media screen and (max-width:1280px){

  html.gnb-open{
    height:100%;
  }

  body.gnb-open{
    height:100%;
    overflow:hidden;

    &:before{
      content:"";
      display:block;
      width:100%;
      height:100%;
      background:rgba(0,0,0,0.5);
      position:fixed;
      top:0;
      left:0;
      z-index:15;
    }
  }

  .header{
    height:40px;
    border-bottom:1px solid #ccc;

    &.open{
      height:80%;
    }

    &-logo{
      height:40px;
      padding:7px 0;
      position:static;
      text-align:center;

      &-link{
        display:inline-block;
      }

      &-image{
        width:54px;
      }
    }

    &-util{
      padding:70px 0 110px;
      position:relative;

      &-item{
        border-left:0;
        float:none;

        &:nth-child(1){
          width:auto;
          height:auto;

          text-align:center;

          line-height:normal;

          .header-util-link{
            display:inline-block;
            font-size:11px;
            font-family:neosans, SKPGo, sans-serif;
          }
        }

        &:nth-child(2),
        &:nth-child(3){
          width:100px;
          height:30px;
          position:absolute;

          .header-util-link{
            display:block;
            width:100px;
            height:30px;
            border:1px solid #ccc;
            font-size:10px;
            font-weight:300;
            color:#999;
            line-height:32px;
          }
        }

        &:nth-child(2){
          top:20px;
          left:50%;
          margin-left:-105px;
        }

        &:nth-child(3){
          top:20px;
          left:50%;
          margin-left:5px;
        }
      }
    }

  }

  .gnb{
    padding:10px 15px 0;
    width:auto;
    margin:auto;

    &:before{
      display:none;
    }

    &-depth1{

      &-item{
        width:auto;
        float:none;
        text-align:left;
      }

      &-link{
        display: block;
        padding:16px 15px 14px;
        font-size: 12px;
        border-bottom: 1px solid #ccc;

        &:after{
          content:"";
          display:block;
          width:7px;
          height:7px;
          margin-top:-2px;
          background:url(/images/spr_btn_mobile_depth1.png) no-repeat 0 -12px;
          background-size:cover;
          position:absolute;
          top:50%;
          left:auto;
          bottom:auto;
          right:15px;
        }

        &:hover{
          background-color:transparent;
          color:#333;

          &:after{
            background-color:transparent;
          }
        }

        &.open{
          &:after{
            background-position:0 0;
          }
        }

        &.on{

          &:after{
            background-color:transparent;
            background-position:0 -36px;
          }

          &:hover{
            color:#e51837;
          }

          &.open{
            border-color:#e51837;

            &:after{
              background-position:0 -24px;
            }
          }

        }

      }

    }

    &-depth2{
      display:none;
      width: auto;
      height: auto;
      border: 0;
      padding: 20px 15px;
      background: #f5f5f5;
      border-bottom: 1px solid #ccc;

      &.open{
        display:block;
      }

      &-item{
        margin-bottom:13px;
        text-align:left;

        &:last-child{
          margin-bottom:0;
        }
      }

      &-link{
        font-size:12px;
        font-weight:300;
        color:#666;
      }
    }
  }

  .btn-mobile-gnb{
    display:block;
    width:15px;
    height:20px;
    border:0;
    position:absolute;
    top:10px;
    right:15px;
    background: transparent;

    span{
      display:block;
      text-indent:-99999em;
    }

    &:before,
    &:after{
      content:"";
      display:block;
      width:15px;
      height:2px;
      background:#333;
      position:absolute;
      top:5px;
      left:0;
      transition:all .2s ease-out;
      transform-origin:50%;
    }

    &:after{
      top:auto;
      bottom:5px;
    }

    &.open{
      &:before{
        top:8px;
        transform:rotate(45deg);
      }

      &:after{
        top:8px;
        transform:rotate(-45deg);
      }
    }
  }

}