body{
  border-top:1px solid transparent;
  margin-top:-1px;
}

.location{
  padding:15px 0 10px;
  margin:61px 0 50px;
  border-bottom:1px solid #ccc;

  &:after{
    content:"";
    display:block;
    clear:both;
  }

  &-inner{
    width:100%;
    max-width:1200px;
    margin:0 auto;
  }

  &-item{
    float:left;

    color:#999;

    &.current{
      color:#000;
    }

    &:before{
      content:"";
      display:inline-block;
      width:5px;
      height:6px;
      background:url(/images/location_arrow.png) no-repeat 0 0;
      top:-3px;
      margin:0 25px;
    }

    &:first-child:before{
      display:none;
    }
  }
}

.tnb{
  display:none;
}

.contents-wrap{
  max-width:1200px;
  margin:0 auto;
}

@media screen and (max-width:1280px){

  .location{
    padding:15px 15px 10px;
    margin-top:40px;
  }

  .contents-wrap{
    width:100%;
    padding:0 15px;
  }

}

@media screen and (max-width:1024px){

}

@media screen and (max-width:768px){

  .location{
    display:none;
  }

  .tnb{
    display: block;
    width: 100%;
    position: absolute;
    top: 40px;
    background: #fff;
    z-index: 10;

    &-current{
      display:block;
      width:100%;
      height:40px;
      border:0;
      border-bottom:1px solid #ccc;
      background:transparent;

      &:after {
        content: "";
        display: inline-block;
        width: 9px;
        height: 5px;
        margin-left: 10px;
        background: url(/images/spr_board_view_arrow.png) no-repeat 0 -32px;
        background-size:cover;
        position: relative;
        top: -2px;
      }

      &.open{
        border-color:#e51837;

        &:after{
          background-position:0 0px;
        }
      }
    }

    &-list{
      display:none;
      padding-top:20px;
      border-bottom:1px solid #ccc;
      background:#f5f5f5;

      &.open{
        display:block;
      }
    }

    &-item{
      margin-bottom:14px;
    }

    &-link{
      display:block;
      font-size:11px;
      color:#666;
      text-align:center;

      &.on{
        color:#e51837;
      }
    }
  }

  .contents-wrap{
    margin-top:104px;
  }

}